__pycache__/
*.pyc
*.pyo
*.pyd
.env
deploy/.env.production
deploy/build_number
secrets-backup.txt
.DS_Store

apps/server/storage/uploads/*
!apps/server/storage/uploads/.gitkeep

apps/client/.dart_tool/
apps/client/build/
apps/client/.flutter-plugins
apps/client/.flutter-plugins-dependencies
