--
-- PostgreSQL database dump
--

\restrict DOYtgB1tbrS1OV1Dxngci2E5FPqyAoba3B8NTnTQrD2Ku3G4NOoJLKqttukNezD

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_identities DROP CONSTRAINT IF EXISTS user_identities_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.social_connections DROP CONSTRAINT IF EXISTS social_connections_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.releases DROP CONSTRAINT IF EXISTS releases_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.release_artists DROP CONSTRAINT IF EXISTS release_artists_release_id_fkey;
ALTER TABLE IF EXISTS ONLY public.release_artists DROP CONSTRAINT IF EXISTS release_artists_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mailing_subscribers DROP CONSTRAINT IF EXISTS mailing_subscribers_list_id_fkey;
ALTER TABLE IF EXISTS ONLY public.demo_submissions DROP CONSTRAINT IF EXISTS demo_submissions_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.campaigns DROP CONSTRAINT IF EXISTS campaigns_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.campaign_targets DROP CONSTRAINT IF EXISTS campaign_targets_campaign_id_fkey;
ALTER TABLE IF EXISTS ONLY public.campaign_deliveries DROP CONSTRAINT IF EXISTS campaign_deliveries_target_id_fkey;
ALTER TABLE IF EXISTS ONLY public.campaign_deliveries DROP CONSTRAINT IF EXISTS campaign_deliveries_campaign_id_fkey;
ALTER TABLE IF EXISTS ONLY public.automation_tasks DROP CONSTRAINT IF EXISTS automation_tasks_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artist_media DROP CONSTRAINT IF EXISTS artist_media_artist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artist_activity_logs DROP CONSTRAINT IF EXISTS artist_activity_logs_artist_id_fkey;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_user_identities_user_id;
DROP INDEX IF EXISTS public.ix_user_identities_provider;
DROP INDEX IF EXISTS public.ix_user_identities_id;
DROP INDEX IF EXISTS public.ix_social_connections_provider;
DROP INDEX IF EXISTS public.ix_social_connections_oauth_state;
DROP INDEX IF EXISTS public.ix_social_connections_id;
DROP INDEX IF EXISTS public.ix_releases_id;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_user_id;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_token_hash;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_id;
DROP INDEX IF EXISTS public.ix_mailing_subscribers_unsubscribe_token;
DROP INDEX IF EXISTS public.ix_mailing_subscribers_status;
DROP INDEX IF EXISTS public.ix_mailing_subscribers_list_id;
DROP INDEX IF EXISTS public.ix_mailing_subscribers_id;
DROP INDEX IF EXISTS public.ix_mailing_lists_id;
DROP INDEX IF EXISTS public.ix_hub_connectors_id;
DROP INDEX IF EXISTS public.ix_hub_connectors_connector_type;
DROP INDEX IF EXISTS public.ix_demo_submissions_status;
DROP INDEX IF EXISTS public.ix_demo_submissions_id;
DROP INDEX IF EXISTS public.ix_demo_submissions_email;
DROP INDEX IF EXISTS public.ix_catalog_tracks_id;
DROP INDEX IF EXISTS public.ix_catalog_tracks_catalog_number;
DROP INDEX IF EXISTS public.ix_campaigns_id;
DROP INDEX IF EXISTS public.ix_campaign_targets_id;
DROP INDEX IF EXISTS public.ix_campaign_deliveries_id;
DROP INDEX IF EXISTS public.ix_automation_tasks_id;
DROP INDEX IF EXISTS public.ix_artists_id;
DROP INDEX IF EXISTS public.ix_artist_media_id;
DROP INDEX IF EXISTS public.ix_artist_media_artist_id;
DROP INDEX IF EXISTS public.ix_artist_activity_logs_id;
DROP INDEX IF EXISTS public.ix_artist_activity_logs_activity_type;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_identities DROP CONSTRAINT IF EXISTS user_identities_pkey;
ALTER TABLE IF EXISTS ONLY public.mailing_subscribers DROP CONSTRAINT IF EXISTS uq_mailing_subscribers_list_email;
ALTER TABLE IF EXISTS ONLY public.social_connections DROP CONSTRAINT IF EXISTS social_connections_pkey;
ALTER TABLE IF EXISTS ONLY public.releases DROP CONSTRAINT IF EXISTS releases_pkey;
ALTER TABLE IF EXISTS ONLY public.release_artists DROP CONSTRAINT IF EXISTS release_artists_pkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.mailing_subscribers DROP CONSTRAINT IF EXISTS mailing_subscribers_pkey;
ALTER TABLE IF EXISTS ONLY public.mailing_lists DROP CONSTRAINT IF EXISTS mailing_lists_pkey;
ALTER TABLE IF EXISTS ONLY public.mail_settings DROP CONSTRAINT IF EXISTS mail_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.hub_connectors DROP CONSTRAINT IF EXISTS hub_connectors_pkey;
ALTER TABLE IF EXISTS ONLY public.demo_submissions DROP CONSTRAINT IF EXISTS demo_submissions_pkey;
ALTER TABLE IF EXISTS ONLY public.catalog_tracks DROP CONSTRAINT IF EXISTS catalog_tracks_pkey;
ALTER TABLE IF EXISTS ONLY public.campaigns DROP CONSTRAINT IF EXISTS campaigns_pkey;
ALTER TABLE IF EXISTS ONLY public.campaign_targets DROP CONSTRAINT IF EXISTS campaign_targets_pkey;
ALTER TABLE IF EXISTS ONLY public.campaign_deliveries DROP CONSTRAINT IF EXISTS campaign_deliveries_pkey;
ALTER TABLE IF EXISTS ONLY public.automation_tasks DROP CONSTRAINT IF EXISTS automation_tasks_pkey;
ALTER TABLE IF EXISTS ONLY public.artists DROP CONSTRAINT IF EXISTS artists_pkey;
ALTER TABLE IF EXISTS ONLY public.artists DROP CONSTRAINT IF EXISTS artists_email_key;
ALTER TABLE IF EXISTS ONLY public.artist_media DROP CONSTRAINT IF EXISTS artist_media_pkey;
ALTER TABLE IF EXISTS ONLY public.artist_activity_logs DROP CONSTRAINT IF EXISTS artist_activity_logs_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.user_identities ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.social_connections ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.releases ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.password_reset_tokens ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mailing_subscribers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mailing_lists ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.hub_connectors ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.demo_submissions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.catalog_tracks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.campaigns ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.campaign_targets ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.campaign_deliveries ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.automation_tasks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.artists ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.artist_media ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.artist_activity_logs ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.user_identities_id_seq;
DROP TABLE IF EXISTS public.user_identities;
DROP SEQUENCE IF EXISTS public.social_connections_id_seq;
DROP TABLE IF EXISTS public.social_connections;
DROP SEQUENCE IF EXISTS public.releases_id_seq;
DROP TABLE IF EXISTS public.releases;
DROP TABLE IF EXISTS public.release_artists;
DROP SEQUENCE IF EXISTS public.password_reset_tokens_id_seq;
DROP TABLE IF EXISTS public.password_reset_tokens;
DROP SEQUENCE IF EXISTS public.mailing_subscribers_id_seq;
DROP TABLE IF EXISTS public.mailing_subscribers;
DROP SEQUENCE IF EXISTS public.mailing_lists_id_seq;
DROP TABLE IF EXISTS public.mailing_lists;
DROP TABLE IF EXISTS public.mail_settings;
DROP SEQUENCE IF EXISTS public.hub_connectors_id_seq;
DROP TABLE IF EXISTS public.hub_connectors;
DROP SEQUENCE IF EXISTS public.demo_submissions_id_seq;
DROP TABLE IF EXISTS public.demo_submissions;
DROP SEQUENCE IF EXISTS public.catalog_tracks_id_seq;
DROP TABLE IF EXISTS public.catalog_tracks;
DROP SEQUENCE IF EXISTS public.campaigns_id_seq;
DROP TABLE IF EXISTS public.campaigns;
DROP SEQUENCE IF EXISTS public.campaign_targets_id_seq;
DROP TABLE IF EXISTS public.campaign_targets;
DROP SEQUENCE IF EXISTS public.campaign_deliveries_id_seq;
DROP TABLE IF EXISTS public.campaign_deliveries;
DROP SEQUENCE IF EXISTS public.automation_tasks_id_seq;
DROP TABLE IF EXISTS public.automation_tasks;
DROP SEQUENCE IF EXISTS public.artists_id_seq;
DROP TABLE IF EXISTS public.artists;
DROP SEQUENCE IF EXISTS public.artist_media_id_seq;
DROP TABLE IF EXISTS public.artist_media;
DROP SEQUENCE IF EXISTS public.artist_activity_logs_id_seq;
DROP TABLE IF EXISTS public.artist_activity_logs;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: artist_activity_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.artist_activity_logs (
    id integer NOT NULL,
    artist_id integer NOT NULL,
    activity_type character varying(80) NOT NULL,
    details text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: artist_activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.artist_activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: artist_activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.artist_activity_logs_id_seq OWNED BY public.artist_activity_logs.id;


--
-- Name: artist_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.artist_media (
    id integer NOT NULL,
    artist_id integer NOT NULL,
    filename character varying(255) NOT NULL,
    stored_path character varying(500) NOT NULL,
    content_type character varying(120),
    size_bytes integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: artist_media_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.artist_media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: artist_media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.artist_media_id_seq OWNED BY public.artist_media.id;


--
-- Name: artists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.artists (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(255) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    extra_json text,
    is_active boolean DEFAULT true NOT NULL,
    password_hash character varying(255)
);


--
-- Name: artists_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.artists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: artists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.artists_id_seq OWNED BY public.artists.id;


--
-- Name: automation_tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.automation_tasks (
    id integer NOT NULL,
    artist_id integer NOT NULL,
    title character varying(200) NOT NULL,
    status character varying(30) NOT NULL,
    details text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: automation_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.automation_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: automation_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.automation_tasks_id_seq OWNED BY public.automation_tasks.id;


--
-- Name: campaign_deliveries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaign_deliveries (
    id integer NOT NULL,
    campaign_id integer NOT NULL,
    target_id integer NOT NULL,
    channel_type character varying(30) NOT NULL,
    status character varying(30) NOT NULL,
    external_id character varying(255),
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: campaign_deliveries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.campaign_deliveries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: campaign_deliveries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.campaign_deliveries_id_seq OWNED BY public.campaign_deliveries.id;


--
-- Name: campaign_targets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaign_targets (
    id integer NOT NULL,
    campaign_id integer NOT NULL,
    channel_type character varying(30) NOT NULL,
    external_id character varying(100) NOT NULL,
    channel_payload text NOT NULL
);


--
-- Name: campaign_targets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.campaign_targets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: campaign_targets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.campaign_targets_id_seq OWNED BY public.campaign_targets.id;


--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaigns (
    id integer NOT NULL,
    artist_id integer,
    name character varying(200) NOT NULL,
    title character varying(300) NOT NULL,
    body_text text NOT NULL,
    body_html text,
    media_url character varying(500),
    status character varying(30) NOT NULL,
    scheduled_at timestamp with time zone,
    sent_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: campaigns_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.campaigns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: campaigns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.campaigns_id_seq OWNED BY public.campaigns.id;


--
-- Name: catalog_tracks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.catalog_tracks (
    id integer NOT NULL,
    catalog_number character varying(32) NOT NULL,
    release_title character varying(300) NOT NULL,
    pre_order_date date,
    release_date date,
    upc character varying(32),
    isrc character varying(32),
    original_artists character varying(500),
    original_first_last character varying(500),
    remix_artists character varying(500),
    remix_first_last character varying(500),
    track_title character varying(300),
    mix_title character varying(200),
    duration character varying(20),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: catalog_tracks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.catalog_tracks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: catalog_tracks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.catalog_tracks_id_seq OWNED BY public.catalog_tracks.id;


--
-- Name: demo_submissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.demo_submissions (
    id integer NOT NULL,
    artist_name character varying(200) NOT NULL,
    contact_name character varying(200),
    email character varying(255) NOT NULL,
    phone character varying(80),
    genre character varying(120),
    city character varying(120),
    message text,
    links_json text NOT NULL,
    fields_json text NOT NULL,
    source character varying(80) NOT NULL,
    source_site_url character varying(500),
    status character varying(30) NOT NULL,
    admin_notes text,
    approval_subject character varying(255),
    approval_body text,
    approval_email_sent_at timestamp with time zone,
    artist_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: demo_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.demo_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: demo_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.demo_submissions_id_seq OWNED BY public.demo_submissions.id;


--
-- Name: hub_connectors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hub_connectors (
    id integer NOT NULL,
    connector_type character varying(50) NOT NULL,
    account_label character varying(120) NOT NULL,
    config_json text NOT NULL,
    status character varying(30) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: hub_connectors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.hub_connectors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: hub_connectors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.hub_connectors_id_seq OWNED BY public.hub_connectors.id;


--
-- Name: mail_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mail_settings (
    id integer NOT NULL,
    smtp_host character varying(255),
    smtp_port integer,
    smtp_from_email character varying(255),
    smtp_use_tls boolean,
    smtp_use_ssl boolean,
    smtp_user character varying(255),
    smtp_password character varying(255),
    emails_per_hour integer,
    updated_at timestamp with time zone
);


--
-- Name: mailing_lists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mailing_lists (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    from_name character varying(200),
    reply_to_email character varying(255),
    company_name character varying(200),
    physical_address text,
    default_language character varying(10) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: mailing_lists_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mailing_lists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mailing_lists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mailing_lists_id_seq OWNED BY public.mailing_lists.id;


--
-- Name: mailing_subscribers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mailing_subscribers (
    id integer NOT NULL,
    list_id integer NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(200),
    status character varying(30) NOT NULL,
    consent_source character varying(255),
    consent_at timestamp with time zone,
    unsubscribed_at timestamp with time zone,
    unsubscribe_token character varying(64) NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: mailing_subscribers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mailing_subscribers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mailing_subscribers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mailing_subscribers_id_seq OWNED BY public.mailing_subscribers.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token_hash character varying(64) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: release_artists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.release_artists (
    release_id integer NOT NULL,
    artist_id integer NOT NULL
);


--
-- Name: releases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.releases (
    id integer NOT NULL,
    artist_id integer NOT NULL,
    title character varying(200) NOT NULL,
    status character varying(30) NOT NULL,
    file_path character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: releases_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.releases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: releases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.releases_id_seq OWNED BY public.releases.id;


--
-- Name: social_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.social_connections (
    id integer NOT NULL,
    provider character varying(50) NOT NULL,
    account_label character varying(120) NOT NULL,
    artist_id integer,
    external_account_id character varying(255),
    scopes_csv text NOT NULL,
    oauth_state character varying(255),
    access_token text,
    refresh_token text,
    status character varying(30) NOT NULL,
    authorized_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    one_time_token character varying(255),
    one_time_expires_at timestamp with time zone,
    pkce_code_verifier character varying(255)
);


--
-- Name: social_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.social_connections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: social_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.social_connections_id_seq OWNED BY public.social_connections.id;


--
-- Name: user_identities; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_identities (
    id integer NOT NULL,
    user_id integer NOT NULL,
    provider character varying(50) NOT NULL,
    provider_subject character varying(255) NOT NULL,
    email character varying(255),
    display_name character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone
);


--
-- Name: user_identities_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_identities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_identities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_identities_id_seq OWNED BY public.user_identities.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    role character varying(20) NOT NULL,
    artist_id integer,
    full_name character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    last_login_at timestamp with time zone
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: artist_activity_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_activity_logs ALTER COLUMN id SET DEFAULT nextval('public.artist_activity_logs_id_seq'::regclass);


--
-- Name: artist_media id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_media ALTER COLUMN id SET DEFAULT nextval('public.artist_media_id_seq'::regclass);


--
-- Name: artists id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artists ALTER COLUMN id SET DEFAULT nextval('public.artists_id_seq'::regclass);


--
-- Name: automation_tasks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_tasks ALTER COLUMN id SET DEFAULT nextval('public.automation_tasks_id_seq'::regclass);


--
-- Name: campaign_deliveries id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_deliveries ALTER COLUMN id SET DEFAULT nextval('public.campaign_deliveries_id_seq'::regclass);


--
-- Name: campaign_targets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_targets ALTER COLUMN id SET DEFAULT nextval('public.campaign_targets_id_seq'::regclass);


--
-- Name: campaigns id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns ALTER COLUMN id SET DEFAULT nextval('public.campaigns_id_seq'::regclass);


--
-- Name: catalog_tracks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalog_tracks ALTER COLUMN id SET DEFAULT nextval('public.catalog_tracks_id_seq'::regclass);


--
-- Name: demo_submissions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demo_submissions ALTER COLUMN id SET DEFAULT nextval('public.demo_submissions_id_seq'::regclass);


--
-- Name: hub_connectors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hub_connectors ALTER COLUMN id SET DEFAULT nextval('public.hub_connectors_id_seq'::regclass);


--
-- Name: mailing_lists id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_lists ALTER COLUMN id SET DEFAULT nextval('public.mailing_lists_id_seq'::regclass);


--
-- Name: mailing_subscribers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_subscribers ALTER COLUMN id SET DEFAULT nextval('public.mailing_subscribers_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: releases id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.releases ALTER COLUMN id SET DEFAULT nextval('public.releases_id_seq'::regclass);


--
-- Name: social_connections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_connections ALTER COLUMN id SET DEFAULT nextval('public.social_connections_id_seq'::regclass);


--
-- Name: user_identities id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_identities ALTER COLUMN id SET DEFAULT nextval('public.user_identities_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: artist_activity_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.artist_activity_logs (id, artist_id, activity_type, details, created_at) FROM stdin;
1	41	reminder_email	\N	2026-03-12 18:44:53.31093+00
\.


--
-- Data for Name: artist_media; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.artist_media (id, artist_id, filename, stored_path, content_type, size_bytes, created_at) FROM stdin;
\.


--
-- Data for Name: artists; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: automation_tasks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.automation_tasks (id, artist_id, title, status, details, created_at) FROM stdin;
\.


--
-- Data for Name: campaign_deliveries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campaign_deliveries (id, campaign_id, target_id, channel_type, status, external_id, error_message, created_at) FROM stdin;
\.


--
-- Data for Name: campaign_targets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campaign_targets (id, campaign_id, channel_type, external_id, channel_payload) FROM stdin;
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campaigns (id, artist_id, name, title, body_text, body_html, media_url, status, scheduled_at, sent_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: catalog_tracks; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: demo_submissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.demo_submissions (id, artist_name, contact_name, email, phone, genre, city, message, links_json, fields_json, source, source_site_url, status, admin_notes, approval_subject, approval_body, approval_email_sent_at, artist_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: hub_connectors; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.hub_connectors (id, connector_type, account_label, config_json, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: mail_settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mail_settings (id, smtp_host, smtp_port, smtp_from_email, smtp_use_tls, smtp_use_ssl, smtp_user, smtp_password, emails_per_hour, updated_at) FROM stdin;
1	smtp.hostinger.com	465	simon@zalmanim.com	f	t	simon@zalmanim.com	Ssrr102030!	5	2026-03-12 18:43:19.763833+00
\.


--
-- Data for Name: mailing_lists; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mailing_lists (id, name, description, from_name, reply_to_email, company_name, physical_address, default_language, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: mailing_subscribers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mailing_subscribers (id, list_id, email, full_name, status, consent_source, consent_at, unsubscribed_at, unsubscribe_token, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.password_reset_tokens (id, user_id, token_hash, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: release_artists; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: releases; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: social_connections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.social_connections (id, provider, account_label, artist_id, external_account_id, scopes_csv, oauth_state, access_token, refresh_token, status, authorized_at, created_at, one_time_token, one_time_expires_at, pkce_code_verifier) FROM stdin;
\.


--
-- Data for Name: user_identities; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_identities (id, user_id, provider, provider_subject, email, display_name, created_at, last_login_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: artist_activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.artist_activity_logs_id_seq', 1, true);


--
-- Name: artist_media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.artist_media_id_seq', 1, false);


--
-- Name: artists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.artists_id_seq', 75, true);


--
-- Name: automation_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.automation_tasks_id_seq', 1, false);


--
-- Name: campaign_deliveries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.campaign_deliveries_id_seq', 1, false);


--
-- Name: campaign_targets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.campaign_targets_id_seq', 1, false);


--
-- Name: campaigns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.campaigns_id_seq', 1, false);


--
-- Name: catalog_tracks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.catalog_tracks_id_seq', 378, true);


--
-- Name: demo_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.demo_submissions_id_seq', 1, false);


--
-- Name: hub_connectors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.hub_connectors_id_seq', 1, false);


--
-- Name: mailing_lists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mailing_lists_id_seq', 1, false);


--
-- Name: mailing_subscribers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mailing_subscribers_id_seq', 1, false);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 1, false);


--
-- Name: releases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.releases_id_seq', 188, true);


--
-- Name: social_connections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.social_connections_id_seq', 1, false);


--
-- Name: user_identities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_identities_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: artist_activity_logs artist_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_activity_logs
    ADD CONSTRAINT artist_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: artist_media artist_media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_media
    ADD CONSTRAINT artist_media_pkey PRIMARY KEY (id);


--
-- Name: artists artists_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_email_key UNIQUE (email);


--
-- Name: artists artists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_pkey PRIMARY KEY (id);


--
-- Name: automation_tasks automation_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_tasks
    ADD CONSTRAINT automation_tasks_pkey PRIMARY KEY (id);


--
-- Name: campaign_deliveries campaign_deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_deliveries
    ADD CONSTRAINT campaign_deliveries_pkey PRIMARY KEY (id);


--
-- Name: campaign_targets campaign_targets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_targets
    ADD CONSTRAINT campaign_targets_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: catalog_tracks catalog_tracks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalog_tracks
    ADD CONSTRAINT catalog_tracks_pkey PRIMARY KEY (id);


--
-- Name: demo_submissions demo_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demo_submissions
    ADD CONSTRAINT demo_submissions_pkey PRIMARY KEY (id);


--
-- Name: hub_connectors hub_connectors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hub_connectors
    ADD CONSTRAINT hub_connectors_pkey PRIMARY KEY (id);


--
-- Name: mail_settings mail_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT mail_settings_pkey PRIMARY KEY (id);


--
-- Name: mailing_lists mailing_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_lists
    ADD CONSTRAINT mailing_lists_pkey PRIMARY KEY (id);


--
-- Name: mailing_subscribers mailing_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_subscribers
    ADD CONSTRAINT mailing_subscribers_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: release_artists release_artists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_artists
    ADD CONSTRAINT release_artists_pkey PRIMARY KEY (release_id, artist_id);


--
-- Name: releases releases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.releases
    ADD CONSTRAINT releases_pkey PRIMARY KEY (id);


--
-- Name: social_connections social_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_connections
    ADD CONSTRAINT social_connections_pkey PRIMARY KEY (id);


--
-- Name: mailing_subscribers uq_mailing_subscribers_list_email; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_subscribers
    ADD CONSTRAINT uq_mailing_subscribers_list_email UNIQUE (list_id, email);


--
-- Name: user_identities user_identities_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_identities
    ADD CONSTRAINT user_identities_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_artist_activity_logs_activity_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artist_activity_logs_activity_type ON public.artist_activity_logs USING btree (activity_type);


--
-- Name: ix_artist_activity_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artist_activity_logs_id ON public.artist_activity_logs USING btree (id);


--
-- Name: ix_artist_media_artist_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artist_media_artist_id ON public.artist_media USING btree (artist_id);


--
-- Name: ix_artist_media_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artist_media_id ON public.artist_media USING btree (id);


--
-- Name: ix_artists_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artists_id ON public.artists USING btree (id);


--
-- Name: ix_automation_tasks_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_automation_tasks_id ON public.automation_tasks USING btree (id);


--
-- Name: ix_campaign_deliveries_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_campaign_deliveries_id ON public.campaign_deliveries USING btree (id);


--
-- Name: ix_campaign_targets_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_campaign_targets_id ON public.campaign_targets USING btree (id);


--
-- Name: ix_campaigns_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_campaigns_id ON public.campaigns USING btree (id);


--
-- Name: ix_catalog_tracks_catalog_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_catalog_tracks_catalog_number ON public.catalog_tracks USING btree (catalog_number);


--
-- Name: ix_catalog_tracks_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_catalog_tracks_id ON public.catalog_tracks USING btree (id);


--
-- Name: ix_demo_submissions_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_demo_submissions_email ON public.demo_submissions USING btree (email);


--
-- Name: ix_demo_submissions_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_demo_submissions_id ON public.demo_submissions USING btree (id);


--
-- Name: ix_demo_submissions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_demo_submissions_status ON public.demo_submissions USING btree (status);


--
-- Name: ix_hub_connectors_connector_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_hub_connectors_connector_type ON public.hub_connectors USING btree (connector_type);


--
-- Name: ix_hub_connectors_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_hub_connectors_id ON public.hub_connectors USING btree (id);


--
-- Name: ix_mailing_lists_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_mailing_lists_id ON public.mailing_lists USING btree (id);


--
-- Name: ix_mailing_subscribers_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_mailing_subscribers_id ON public.mailing_subscribers USING btree (id);


--
-- Name: ix_mailing_subscribers_list_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_mailing_subscribers_list_id ON public.mailing_subscribers USING btree (list_id);


--
-- Name: ix_mailing_subscribers_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_mailing_subscribers_status ON public.mailing_subscribers USING btree (status);


--
-- Name: ix_mailing_subscribers_unsubscribe_token; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_mailing_subscribers_unsubscribe_token ON public.mailing_subscribers USING btree (unsubscribe_token);


--
-- Name: ix_password_reset_tokens_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_password_reset_tokens_id ON public.password_reset_tokens USING btree (id);


--
-- Name: ix_password_reset_tokens_token_hash; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_password_reset_tokens_token_hash ON public.password_reset_tokens USING btree (token_hash);


--
-- Name: ix_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: ix_releases_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_releases_id ON public.releases USING btree (id);


--
-- Name: ix_social_connections_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_social_connections_id ON public.social_connections USING btree (id);


--
-- Name: ix_social_connections_oauth_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_social_connections_oauth_state ON public.social_connections USING btree (oauth_state);


--
-- Name: ix_social_connections_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_social_connections_provider ON public.social_connections USING btree (provider);


--
-- Name: ix_user_identities_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_identities_id ON public.user_identities USING btree (id);


--
-- Name: ix_user_identities_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_identities_provider ON public.user_identities USING btree (provider);


--
-- Name: ix_user_identities_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_identities_user_id ON public.user_identities USING btree (user_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: artist_activity_logs artist_activity_logs_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_activity_logs
    ADD CONSTRAINT artist_activity_logs_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id) ON DELETE CASCADE;


--
-- Name: artist_media artist_media_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artist_media
    ADD CONSTRAINT artist_media_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id) ON DELETE CASCADE;


--
-- Name: automation_tasks automation_tasks_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_tasks
    ADD CONSTRAINT automation_tasks_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: campaign_deliveries campaign_deliveries_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_deliveries
    ADD CONSTRAINT campaign_deliveries_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id);


--
-- Name: campaign_deliveries campaign_deliveries_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_deliveries
    ADD CONSTRAINT campaign_deliveries_target_id_fkey FOREIGN KEY (target_id) REFERENCES public.campaign_targets(id);


--
-- Name: campaign_targets campaign_targets_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_targets
    ADD CONSTRAINT campaign_targets_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id);


--
-- Name: campaigns campaigns_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: demo_submissions demo_submissions_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demo_submissions
    ADD CONSTRAINT demo_submissions_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: mailing_subscribers mailing_subscribers_list_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mailing_subscribers
    ADD CONSTRAINT mailing_subscribers_list_id_fkey FOREIGN KEY (list_id) REFERENCES public.mailing_lists(id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: release_artists release_artists_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_artists
    ADD CONSTRAINT release_artists_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id) ON DELETE CASCADE;


--
-- Name: release_artists release_artists_release_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.release_artists
    ADD CONSTRAINT release_artists_release_id_fkey FOREIGN KEY (release_id) REFERENCES public.releases(id) ON DELETE CASCADE;


--
-- Name: releases releases_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.releases
    ADD CONSTRAINT releases_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: social_connections social_connections_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_connections
    ADD CONSTRAINT social_connections_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: user_identities user_identities_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_identities
    ADD CONSTRAINT user_identities_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- PostgreSQL database dump complete
--

\unrestrict DOYtgB1tbrS1OV1Dxngci2E5FPqyAoba3B8NTnTQrD2Ku3G4NOoJLKqttukNezD

